@import "../main.scss";

::-webkit-scrollbar {
  width: 0;
}

.emotionsMap {
  display: inline-block;
  position: relative;
  width: 70%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
}

.emotionsContent {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.diamond {
  fill: none;
  stroke: $lightColor;
  stroke-miterlimit: 10;
}

.opacity {
  opacity: 0.3;
}

.infoEmotionsSvg {
  display: inline-block;
  position: relative;
  width: 70%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
}

.infoBoxEmotion {
  top: 8%;
  left: 20%;
}

.infoBoxSearch {
  top: 8%;
  right: 30px;
}

@keyframes breathe {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
