@font-face {
  font-family: "Arbel Regular";
  src: url("fonts/ArbelHagildaRegular.otf") format("opentype");
}

@font-face {
  font-family: "Arbel Bold";
  src: url("fonts/ArbelHagildaBold.otf") format("opentype");
}

@font-face {
  font-family: "Hadassa Regular";
  src: url("fonts/Hadassa_regular.otf") format("opentype");
}
@font-face {
  font-family: "Simpler Bold";
  src: url("fonts/SimplerPro_V3-Bold.otf") format("opentype");
}

$shineColor: #e84e26;
$darkColor: #cbf7e4;
$midDarkColor: #29325a;
$midColor: #303a69;
$lightColor: #bfc2d8;
$backgroundColor: #fcfafa;
$infoBackgroundNoTransparency: rgb(53, 79, 97);
$infoBackgroundDarker: rgba(53, 79, 97, 0.95);
$infoBackground: rgba(53, 79, 97, 0.86);
