@font-face {
  font-family: "Arbel Regular";
  src: url("fonts/ArbelHagildaRegular.otf") format("opentype");
}

@font-face {
  font-family: "Arbel Bold";
  src: url("fonts/ArbelHagildaBold.otf") format("opentype");
}

$shineColor: #e84e26;
$shineOpacityColor: rgba(238, 66, 102, 0.5);
$darkColor: #cbf7e4;
$midDarkColor: #29325a;
$midColor: #303a69;
$lightColor: #bfc2d8;
$lightColorDarker: #b7bbce;
$backgroundColor: #fcfafa;
$backgroundDarkColor: #efefef;
$infoBackgroundDarker: rgba(53, 79, 97, 0.95);
$infoBackground: rgba(53, 79, 97, 0.86);

.label {
  fill: $lightColor;
  font-family: "Arbel Regular";
  font-size: 24pt;
}

.regularDot {
  fill: $darkColor;
  opacity: 0.6;
  cursor: pointer;
  transition: fill 0.3s linear, opacity 0.5s linear;
}

.active {
  fill: $shineColor;
  cursor: pointer;
  opacity: 1;
}

.fullOpacity {
  opacity: 1;
}

.searched {
  fill: $shineColor;
}

.info {
  position: absolute;
  background-color: $infoBackground;
  width: 100%;
  height: 100%;
  z-index: 9;
}

.fadeIn {
  animation: fade-in 0.3s 1;
  animation-timing-function: ease-in-out;
}

.fadeOut {
  animation: fade-out 0.3s 1;
  animation-timing-function: ease-in-out;
}

.infoBox {
  position: absolute;
  width: 180px;
  font-family: "Arbel Regular";
  font-size: 12pt;
  line-height: 18pt;
  direction: rtl;
  color: $darkColor;
  background-color: transparent;
  padding: 10px;
  text-align: right;
}

.infoHeader {
  font-family: "Arbel Bold";
  text-align: right;
  padding-bottom: 10px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
