@import "../main.scss";

.mapContainer {
  width: 100%;
  height: 100%;
  background-image: url("./waves.png");
  background-blend-mode: multiply;
  background-size: cover;
  background-color: $lightColor;
  transition: background-color 0.3s linear;
}

.mapContainerLines {
  background-color: $midDarkColor;
}

.rsm-geography {
  display: inline-block;
  vertical-align: middle;
  fill: $midDarkColor;
  stroke: $lightColor;
  transition: stroke-width 0.3s linear;
}

.rsm-geography-normal {
  stroke-width: 0.1;
}

.rsm-geography-lines {
  stroke-width: 0.5;
}

:focus {
  outline: none;
}

.infoMap {
  border-top: 1px solid $lightColor;
}

.infoBoxMap {
  top: 5%;
  right: 30px;
}

.line {
  stroke: $shineColor;
  stroke-width: 1;
}

text {
  font-family: "Arbel Regular";
  fill: $shineColor;
  font-size: 16pt;
}

.mapLinesClass {
  border: 1px solid $midDarkColor;
  border-left: 0;
  border-right: 0;
  bottom: 40px;
}

.mapLinesIcon {
  color: $midDarkColor;
  transition: color 0.3s linear;
  &:hover {
    color: $shineColor;
  }
}
