@import "../main.scss";

.mapContainer {
  width: 100%;
  height: 100%;
  background-color: $lightColor;
  transition: background-color 0.3s linear;
}

.mapContainerLines {
  background-color: $midDarkColor;
  z-index: 20;
}

.rsm-geography {
  display: inline-block;
  vertical-align: middle;
  fill: $midDarkColor;
  stroke: $lightColor;
  transition: stroke-width 0.3s linear, opacity 0.3s linear;
}

.rsm-geography-normal {
  stroke-width: 0.1;
  opacity: 1;
}

.rsm-geography-lines {
  stroke-width: 0.3;
  opacity: 0.9;
}

:focus {
  outline: none;
}

.infoMap {
  border-top: 1px solid $lightColor;
  z-index: 20;
  cursor: auto;
}

.infoBoxMap {
  top: 5%;
  right: 30px;
}

.infoBoxDots {
  top: 5%;
  left: 20%;
}

.line {
  stroke: $shineColor;
}

.mapLinesIcon {
  bottom: 40px;
  transition: color 0.3s linear;
  &:hover {
    color: $shineColor;
    border: 1px solid $shineColor;
    border-left: 0;
    border-right: 0;
  }
}

.mapLinesNonActive {
  color: $midDarkColor;
  border: 1px solid $midDarkColor;
  border-left: 0;
  border-right: 0;
}

.mapLinesActive {
  color: $shineColor;
  border: 1px solid $shineColor;
  border-left: 0;
  border-right: 0;
}

.plusClass {
  bottom: 122px;
}

.minusClass {
  bottom: 81px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

text {
  fill: $shineColor;
  font-family: "Arbel Regular";
  background-color: transparent;
}
