@import "./components/main.scss";

.GraphFrame {
  position: fixed;
  width: 50%;
  height: 45%;
  left: 0;
  bottom: 0;
  cursor: grab;
  z-index: 1;
  &:active {
    cursor: grabbing;
  }
}

.EmotionsFrame {
  position: fixed;
  width: 50%;
  height: 55%;
  background-color: $midColor;
  left: 0;
  top: 0;
  text-align: left;
}

.textFrame {
  z-index: 4;
  position: fixed;
  background-color: $midColor;
  right: 0;
  width: 50%;
  height: 100vh;
}

.scrollBarContainer {
  z-index: 6;
  height: 100vh;
  position: fixed;
  width: 50px;
  right: 0;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  overflow: hidden;
  direction: rtl;
}

.hoverBox {
  position: absolute;
  width: 180px;
  font-family: "Arbel Regular";
  color: black;
  transition: left 0.3s linear;
  padding: 10px;
  pointer-events: none;
}

.hoverBoxText {
  background-color: $backgroundDarkColor;
  z-index: -3;
}

.hoverBoxScrollBar {
  background-color: $lightColorDarker;
}

.hoverHeader {
  border: 1px solid $midColor;
  border-right: 0;
  border-left: 0;
  line-height: 16pt;
  padding: 20px 10px 20px 0;
}

.hoverPlace {
  padding: 10px 0;
  direction: ltr;
}

.hoverEmotions {
  padding: 10px 10px 10px 0;
  font-size: 11pt;
}

.hoverDate {
  padding: 10px 0 0 0;
  direction: ltr;
}

.infoContainer {
  position: absolute;
  background-color: transparent;
  height: 40px;
  width: 40px;
  left: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3px;
  transition: border 0.3s linear;
  z-index: 11;
  &:hover {
    border: 1px solid $shineColor;
    border-left: 0;
    border-right: 0;
  }
}

.infoClass {
  border: 1px solid $lightColor;
  border-left: 0;
  border-right: 0;
  top: 40px;
}

.infoIcon {
  color: $lightColor;
  transition: color 0.3s linear;
  &:hover {
    color: $shineColor;
  }
}
