@import "../main.scss";

.TextContainer {
  width: 100%;
  font-family: "Arbel Regular";
  font-size: 16pt;
  line-height: 35pt;
  z-index: 5;
}

.content {
  overflow-y: scroll;
  height: 100vh;
  background-color: $backgroundColor;
  padding: 0 15% 0 10%;
  transition: margin 1s ease-out;
  z-index: 1;
}

.chapter {
  padding-bottom: 30px;
  line-height: 35pt;
  direction: rtl;
  z-index: 1;
  white-space: pre-wrap;
}

span {
  padding-left: 8px;
}

span.active {
  background-color: transparent;
  animation: fadeBackground 2s 1;
  animation-timing-function: ease-in-out;
}

span.searched {
  background-color: $shineOpacityColor;
}

@keyframes fadeBackground {
  0% {
    background-color: transparent;
  }
  10% {
    background-color: $shineColor;
  }
  100% {
    background-color: transparent;
  }
}

div.sticky {
  position: sticky;
  background-color: $backgroundColor;
  line-height: 25pt;
  padding: 10pt 0;
  color: rgb(100, 100, 100);
  top: -1px;
  font-family: "Arbel Regular";
  font-size: 12pt;
  border-bottom: 1px solid $midColor;
  z-index: 1;
}

div.details {
  display: flex;
  position: relative;
  justify-content: space-between;
  direction: ltr;
}

.infoText {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: $infoBackgroundDarker;
  border-left: 1px solid $lightColor;
  height: 100%;
}

.stickyContainer {
  padding: 0 15% 0 10%;
}
.infoSticky {
  position: sticky;
  height: 93px;
  top: -1px;
  border-bottom: 1px solid $lightColor;
  z-index: 1;
  line-height: 25pt;
}

.infoBoxScrollBar {
  bottom: 10%;
  right: 50px;
}

.infoBoxDetails {
  bottom: 40%;
  right: 250px;
}

.logo {
  position: absolute;
  width: 340px;
  height: 70px;
  top: 30px;
  right: 80px;
  background-image: url("./logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.brief {
  font-family: "Arbel Regular";
  position: absolute;
  color: $darkColor;
  top: 100px;
  left: 80px;
}
